Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/OSXUniversal/Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
network-test.app/Contents/Frameworks/UnityPlayer.dylib filter=lfs diff=lfs merge=lfs -text
